
<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Add Author
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg"> 
          <div class="row">
            <div class="col-sm-12">
              
      
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
</div>


<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
                
                <form (ngSubmit)=onSubmit(f) #f="ngForm">
                    <table class="table">
                        <tr><td>Author Name:</td><td><input type="text" name="name" class="form-control" id="" ngModel></td></tr>
                        <tr><td>Image:</td><td><input type="text" name="picture" class="form-control" id="" ngModel></td></tr>
                        <tr><td>DoB:</td><td><input type="date" name="DoB" class="form-control" id="" ngModel></td></tr>
                        <tr><td>Place:</td><td><input type="text" name="Place" class="form-control" id="" ngModel></td></tr>
                        <tr><td>Books:</td><td><textarea name="Books" id="" cols="40" rows="3" ngModel></textarea></td></tr>
                        <tr><td></td><td><input type="submit" class="btn btn-primary" value="Submit"></td></tr>
                    </table>
                </form>
          
        </div>
      </div>

                                                                      
                                                  
                                                      
     </div><!--/col-12-->
  </div>
</div>
                                                
                                                                                
<hr>

<div class="container" id="footer">
 
</div>

<hr>

<hr>

<footer>
  <div class="container">
    
  </div>
</footer>
  <!-- script references -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>