<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <nav class="navbar-expand-sm" role="navigation">
      <ul class="nav navbar-nav">
          <li>
              <a href="/userlogin">SignIn</a>
          </li>
          <li>
              <a href="/userregister">SignUp</a>
          </li>
        <li>
            <a href="/adbook">Add Book</a>
        </li>
        <li>
            <a href="/viewbook">View Book</a>
        </li>
        <li>
            <a href="/adauthor">Add Author</a>
        </li>
        <li>
            <a href="/viewauthor">View Author</a>
        </li>    
      </ul>     
    </nav>
  </div>
</header>